Repository rikhall1515/nextjs-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

refactor(header): remove outdated header.css and update width
  components/header/util/wrapper.tsx
Due: eslint --fix, prettier --check --write

fix(skipbtn): make the link focus visible and add id to main
  app/(public)/layout.tsx
  components/header/util/jumpToContent.tsx
Due: eslint --fix, prettier --check --write

refactor: refactor tailwind classes to use css variables
  app/(public)/_components/hero/index.tsx
  components/header/sidebar/nav/logout.tsx
  components/header/sidebar/nav/sidebarItem.tsx
  components/header/sidebar/topbar/index.tsx
  components/header/sidebar/util/innerWrapper.tsx
Due: eslint --fix, prettier --check --write

refactor: removed unnecessary classes and fix cookie a11y
  app/(public)/_components/hero/index.tsx
  components/cookies/index.tsx
  components/header/logo.tsx
  components/header/sidebar/index.tsx
  styles/components.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: remove unused innermenubutton
  components/header/sidebar/util/innerMenuButton.tsx
Due: eslint --fix, prettier --check --write

build(turbo): change turbo configuration according to spec
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint-and-tests.yml
  package.json
  turbo.json
Due: prettier --check --write

ci(commitlint): remove commitlint, separate configs
  .cz.json
  .husky/commit-msg
  .releaserc.json
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

refactor(font): place fonts into separate file
  next.fonts.ts
Due: eslint --fix, prettier --check --write

refactor(theme): refactors theme to standardize what is allowed
  app/(public)/_components/hero/index.tsx
  app/layout.tsx
  components/footer/index.tsx
  components/header/logo.tsx
  styles/base.css
  styles/content.css
  tailwind.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

style(skipbtn): change order of classes
  components/header/util/jumpToContent.tsx
Due: eslint --fix, prettier --check --write

refactor(css): add styles to typography
  styles/content.css
Due: stylelint --allow-empty-input, prettier --write

refactor(logo): add viewbox to svg and add logo.ts to og
  app/next-data/og/route.tsx
  components/logo.tsx
Due: eslint --fix, prettier --check --write

feat: add a not-found catch-all route
  app/(public)/[...not-found]/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --check --write

feat(error): add global error page
  app/global-error.tsx
Due: eslint --fix, prettier --check --write

feat(form): add inputs, labels, and error indicators
  components/forms/InputError.tsx
  components/forms/InputLabel.tsx
  components/forms/email.tsx
  components/forms/expandable.tsx
  components/forms/password.tsx
  components/forms/rePassword.tsx
Due: eslint --fix, prettier --check --write

refactor(login): change page so that it is styled properly
  app/(public)/sign-in/page.tsx
  app/(public)/sign-in/wrapper.tsx
Due: eslint --fix, prettier --check --write

refactor(register): style page according to the design system
  app/(public)/sign-up/page.tsx
  app/(public)/sign-up/wrapper.tsx
Due: eslint --fix, prettier --check --write

refactor(footer): remove duplicate sitename
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

chore(dashboard): add overview page to dashboard, empty section
  app/(private)/dashboard/overview/page.tsx
Due: eslint --fix, prettier --check --write

feat(dashboard): add layout with sidebar to dashboard pages
  app/(private)/_components/sidebar/index.tsx
  app/(private)/_components/sidebar/sidebarItem.tsx
  app/(private)/_components/sidebar/wrapper.tsx
  app/(private)/layout.tsx
Due: eslint --fix, prettier --check --write

chore(color): add success and pending colors
  styles/base.css
  tailwind.config.ts
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

feat(dashboard): add empty pages to the dashboard
  app/(private)/dashboard/account/page.tsx
  app/(private)/dashboard/analytics/page.tsx
  app/(private)/dashboard/help/page.tsx
  app/(private)/dashboard/items/page.tsx
  app/(private)/dashboard/settings/page.tsx
Due: eslint --fix, prettier --check --write

feat: add dashboard context with localstorage support
  context/dashboard.tsx
Due: eslint --fix, prettier --check --write

refactor: change layouts to use context in main element
  app/(private)/dashboard/layout.tsx
  app/(private)/layout.tsx
Due: eslint --fix, prettier --check --write

refactor: remove unused inner menu btn ref
  components/header/sidebar/nav/logout.tsx
  context/sidebar.tsx
Due: eslint --fix, prettier --check --write

feat: add button to expand dashboard sidebar
  app/(private)/_components/sidebar/expand.tsx
Due: eslint --fix, prettier --check --write

refactor: add wrapper for dashboard sidebar items
  app/(private)/_components/sidebar/itemWrapper.tsx
Due: eslint --fix, prettier --check --write

refactor: add separate components for top and bottom nav
  app/(private)/_components/sidebar/botItems.tsx
  app/(private)/_components/sidebar/items.tsx
Due: eslint --fix, prettier --check --write

refactor: refactor dashboard sidebar
  app/(private)/_components/sidebar/index.tsx
  app/(private)/_components/sidebar/sidebarItem.tsx
  app/(private)/_components/sidebar/wrapper.tsx
Due: eslint --fix, prettier --check --write

refactor(auth): disable form actions for the template demo website
  app/(public)/sign-in/page.tsx
  app/(public)/sign-up/page.tsx
Due: eslint --fix, prettier --check --write

feat: add empty company details page
  app/(public)/legal/company-details/page.tsx
  app/(public)/legal/company-details/wrapper.tsx
Due: eslint --fix, prettier --check --write

feat: add demo privacy policy
  app/(public)/legal/privacy-policy/page.tsx
  app/(public)/legal/privacy-policy/wrapper.tsx
Due: eslint --fix, prettier --check --write

ci: add turbo env variables to actions
  .github/workflows/build.yml
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

build: fix conflicts in lockfile
  .github/PULL_REQUEST_TEMPLATE.md
  pnpm-lock.yaml
Due: none

build: downgrade eslint back to 8.57
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

feat: assemble manage consent menu
  components/cookies/manage/formContent.tsx
  components/cookies/manage/index.tsx
  components/cookies/manage/tabNav.tsx
Due: eslint --fix, prettier --check --write

refactor: change to more advanced cookie context
  context/cookie.tsx
Due: eslint --fix, prettier --check --write

build: add cookie-js
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: refactor to new cookie component
  components/cookies/index.tsx
Due: eslint --fix, prettier --check --write
