Repository rikhall1515/nextjs-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

feat: add consent tab to manage modal
  components/cookies/manage/consent.tsx
Due: eslint --fix, prettier --check --write

build: remove unused dependency react-cookie
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

refactor: create a toast with option to manage preferences
  components/cookies/toast.tsx
Due: eslint --fix, prettier --check --write

feat: add about tab to manage consent modal
  components/cookies/manage/about.tsx
Due: eslint --fix, prettier --check --write

feat: add details tab to manage modal
  components/cookies/manage/details.tsx
Due: eslint --fix, prettier --check --write

feat(cookie): add change menu to withdraw or change consent
  components/cookies/changeMenu.tsx
Due: eslint --fix, prettier --check --write

feat: add cookie checkboxes
  components/cookies/manage/cookieCheckbox.tsx
  components/cookies/manage/detailsCheckbox.tsx
Due: eslint --fix, prettier --check --write

feat: add footer buttons to manage modal
  components/cookies/manage/buttons.tsx
Due: eslint --fix, prettier --check --write

refactor: change getCookieConsentValue and add input type
  lib/cookie/utils.ts
  types/cookie.ts
Due: eslint --fix, prettier --check --write

refactor(context): refactor context and change placement of context
  app/(private)/dashboard/layout.tsx
  app/(public)/layout.tsx
  components/cookies/index.tsx
  components/header/index.tsx
  context/cookie.tsx
  context/cookie/form.tsx
  context/cookie/index.tsx
  context/index.tsx
Due: eslint --fix, prettier --check --write

feat: add footer button to open menu
  components/footer/btnCookie.tsx
Due: eslint --fix, prettier --check --write

fix(changemenu): fix closing and opening related menus
  components/cookies/changeMenu.tsx
Due: eslint --fix, prettier --check --write

refactor: add fadeIn to cookie toast
  components/cookies/toast.tsx
Due: eslint --fix, prettier --check --write

refactor: exchange props for context instead
  components/cookies/manage/buttons.tsx
Due: eslint --fix, prettier --check --write

refactor: refactor and abstract away controllers
  components/cookies/manage/controllers.tsx
Due: eslint --fix, prettier --check --write

refactor: refactor code to tabNav component
  components/cookies/manage/about.tsx
  components/cookies/manage/consent.tsx
  components/cookies/manage/cookieCheckbox.tsx
  components/cookies/manage/details.tsx
  components/cookies/manage/detailsCheckbox.tsx
  components/cookies/manage/formContent.tsx
  components/cookies/manage/tabNav.tsx
Due: eslint --fix, prettier --check --write

refactor: pass submit handlers into tabnav
  components/cookies/manage/index.tsx
Due: eslint --fix, prettier --check --write

refactor: add cookie button to footer
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

perf(context): split up context and memoize values and functions
  context/cookie/form.tsx
  context/cookie/index.tsx
  context/cookie/menu.tsx
  context/dashboard.tsx
  context/sidebar.tsx
Due: eslint --fix, prettier --check --write

build: add scrol area shadcn component
  components/ui/scroll-area.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

perf(cookie): manage rsc and client cmp, use native dialog, memoize
  components/cookies/manage/buttons.tsx
  components/cookies/manage/controllers.tsx
  components/cookies/manage/dialog.tsx
  components/cookies/manage/index.tsx
  components/cookies/manage/tabNav.tsx
  components/cookies/manage/wrapper.tsx
Due: eslint --fix, prettier --check --write

perf: remove changeMenu, perf improe toast, a11y
  components/cookies/changeMenu.tsx
  components/cookies/index.tsx
  components/cookies/toast.tsx
  components/cookies/toast/buttons.tsx
  components/cookies/toast/index.tsx
  components/cookies/toast/wrapper.tsx
Due: eslint --fix, prettier --check --write

perf: swap out context in footer for fewer rerenders
  components/footer/btnCookie.tsx
Due: eslint --fix, prettier --check --write

refactor: change context placement in layouts
  app/(private)/dashboard/layout.tsx
  app/(public)/layout.tsx
Due: eslint --fix, prettier --check --write

perf(sidebar): change around context, this is wip
  components/header/index.tsx
  components/header/logo.tsx
  components/header/sidebar/nav/index.tsx
  components/header/sidebar/nav/logout.tsx
  components/header/sidebar/nav/privacy.tsx
  components/header/sidebar/nav/sidebarItem.tsx
  components/header/sidebar/util/backdrop.tsx
  components/header/sidebar/util/innerWrapper.tsx
  components/header/sidebar/util/menuButton.tsx
  components/header/util/wrapper.tsx
Due: eslint --fix, prettier --check --write

perf(header): remove unnecessary stylistic mounting logic
  components/header/index.tsx
  components/header/logo.tsx
  components/header/util/wrapper.tsx
Due: eslint --fix, prettier --check --write

perf(sidebar): remove unnecessary context and swap sidebar to dialog
  components/header/sidebar/index.tsx
  components/header/sidebar/util/backdrop.tsx
  components/header/sidebar/util/innerWrapper.tsx
  context/sidebar.tsx
Due: eslint --fix, prettier --check --write

refactor: change base dialog styles
  components/cookies/manage/dialog.tsx
  styles/base.css
  styles/components.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

refactor: change the styling of toast buttons on smaller screens
  components/cookies/toast/buttons.tsx
  components/cookies/toast/index.tsx
  components/cookies/toast/wrapper.tsx
Due: eslint --fix, prettier --check --write

perf: extract static code, remove context, remove logout
  components/header/sidebar/nav/index.tsx
  components/header/sidebar/nav/logout.tsx
  components/header/sidebar/nav/privacy.tsx
  components/header/sidebar/nav/sidebarItem.tsx
Due: eslint --fix, prettier --check --write

refactor(sidebar): add sidebar to dialog, remove unneeded context
  components/header/sidebar/topbar/index.tsx
  components/header/sidebar/topbar/menuButton.tsx
Due: eslint --fix, prettier --check --write

build: add missing depdency for release script
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  0b9e73a6c04794194370e2d1f8b11b73a74c42b1
Due: none

refactor: fix cookie modal height, revert sidebar, separate context
  components/cookies/manage/dialog.tsx
  components/cookies/manage/index.tsx
  components/header/index.tsx
  components/header/sidebar/index.tsx
  components/header/sidebar/nav/privacy.tsx
  components/header/sidebar/nav/sidebarItem.tsx
  components/header/sidebar/topbar/index.tsx
  components/header/sidebar/topbar/menuButton.tsx
  components/header/sidebar/util/backdrop.tsx
  components/header/sidebar/util/innerWrapper.tsx
  components/header/sidebar/util/menuButton.tsx
  components/header/util/wrapper.tsx
  context/header/index.tsx
  context/sidebar.tsx
  context/sidebar/btnRef.tsx
  context/sidebar/index.tsx
  styles/base.css
  styles/components.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

build(repo): update deps, update actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  components/header/index.tsx
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

feat(sidebar): add visible swipe to close functionality
  doc/feat_sidebar.md
  styles/base.css
  styles/components.css
Due: stylelint --allow-empty-input, prettier --write

chore(sidebar): use pseudo as gradient borders on items
  components/header/sidebar/nav/index.tsx
  components/header/sidebar/nav/sidebarItem.tsx
  components/header/sidebar/topbar/index.tsx
  styles/components.css
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write
