Repository rikhall1515/nextjs-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

chore: add workflow dispatch to build
  .github/workflows/build.yml
Due: prettier --check --write

fix(env): add jiti build time validation (#40)
  .github/workflows/build.yml
  next.config.mjs
Due: eslint --fix, prettier --check --write

chore: remove cross-env command from build action
  .github/workflows/build.yml
Due: prettier --check --write

chore: add env variables to lint and test
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

feat: add footer component
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

chore: change company details to terms
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

feat: add cookie component
  components/cookies/index.tsx
Due: eslint --fix, prettier --check --write

feat: add base styles with variables highlighting
  app/globals.css
Due: stylelint --allow-empty-input, prettier --write

feat: move page to public collation folder
  app/(public)/page.tsx
Due: eslint --fix, prettier --check --write

feat: add base layout for public pages
  app/(public)/layout.tsx
Due: eslint --fix, prettier --check --write

chore: add tailwind screen for 420px
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

style: fixes css and footer
  app/globals.css
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: change husky, readme, and vscode settings
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .vscode/settings.json
  README.md
  next.config.mjs
Due: eslint --fix, prettier --check --write

fix: add --fix option to prettier
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

chore: swap position of --fix
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

chore: add double hyphen
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

chore: add double hyphen (#47)
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

revert: reverts back to previous commit
  components/cookies/index.tsx
Due: eslint --fix, prettier --check --write

style: add base styles
  app/globals.css
Due: stylelint --allow-empty-input, prettier --write

refactor: place page in public collation folder
  app/(public)/page.tsx
Due: eslint --fix, prettier --check --write

feat: add base layout
  app/(public)/layout.tsx
Due: eslint --fix, prettier --check --write

chore: add tailwind screen
  tailwind.config.ts
Due: eslint --fix, prettier --check --write

style: format files
  app/globals.css
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

chore: change config files
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .vscode/settings.json
  README.md
  next.config.mjs
Due: eslint --fix, prettier --check --write

chore: install framer and mini-svg-data-uri
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(tailwind): add aceternity ui code for grids
  tailwind.config.ts
  tailwind.d.ts
Due: eslint --fix, prettier --check --write

ci(lint): remove fix flag
  .github/workflows/lint-and-tests.yml
Due: prettier --check --write

chore(vscode): add auto eslint to save functionality
  .vscode/settings.json
Due: prettier --check --write

style(css): change colors and add gradient class
  app/globals.css
Due: stylelint --allow-empty-input, prettier --write

refactor(sidebar): change when sidebar takes up the whole screen
  components/header/logo.tsx
  components/header/sidebar/util/innerWrapper.tsx
Due: eslint --fix, prettier --check --write

refactor(footer): change bg and text color
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

feat(hero): add hero section with gradient svgs and grid bg
  app/(public)/_components/hero/index.tsx
  app/(public)/_components/hero/wrapper.tsx
  app/(public)/page.tsx
Due: eslint --fix, prettier --check --write

fix(css): specify html element for the root variables
  app/globals.css
Due: stylelint --allow-empty-input, prettier --write

chore: change attribute names
  app/(public)/_components/hero/index.tsx
Due: eslint --fix, prettier --check --write

feat(theme): add theme toggle dropdown
  components/themeToggle.tsx
Due: eslint --fix, prettier --check --write

chore(theme): change provider to disable transitions
  context/theme.tsx
Due: eslint --fix, prettier --check --write

refactor(footer): add theme toggle to footer
  components/footer/index.tsx
Due: eslint --fix, prettier --check --write

refactor(css): put dedicated stylesheets into separate folder
  styles/base.css
  styles/components.css
  styles/content.css
  styles/effects.css
  styles/index.css
Due: stylelint --allow-empty-input, prettier --write

chore(layout): add viewport with themecolor and colorscheme
  app/layout.tsx
Due: eslint --fix, prettier --check --write

refactor(css): remove outdated globals and header css files
  app/globals.css
  components/header/header.css
Due: stylelint --allow-empty-input, prettier --write
