Repository rikhall1515/nextjs-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,mjs,ts,tsx}": ["eslint --fix", "prettier --check --write"],
  "**/*.css": ["stylelint --allow-empty-input", "prettier --write"],
  "**/*.{json,yml}": ["prettier --check --write"]
}

fix(pnpm): fix package.json and lockfile mismatch
  package.json
  pnpm-lock.yaml
Due: prettier --check --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check --write

Notes added by 'git notes add'
  13e0f38b48ffd1c3d15b38ba40883cf1f09ed560
Due: none

chore: fix prettier formatting issues on certain files
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Due: none

ci(build): remove CI=true so that the windows build works
  .github/workflows/build.yml
Due: prettier --check --write

ci(lighthouse): fix import path so it searches lib folder
  .github/workflows/lighthouse.yml
Due: prettier --check --write

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/build.yml
  .github/workflows/lint-and-tests.yml
  .github/workflows/release.yml
Due: prettier --check --write

chore: add more shadcn components
  components/ui/breadcrumb.tsx
  components/ui/card.tsx
  components/ui/dropdown-menu.tsx
  components/ui/pagination.tsx
  components/ui/progress.tsx
  components/ui/sheet.tsx
  components/ui/table.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check --write

feat(env): add client t3 env validation
  env/client.ts
Due: eslint --fix, prettier --check --write

feat(env): add server t3 env validation
  env/server.ts
Due: eslint --fix, prettier --check --write

feat: add vercel analytics
  app/layout.tsx
Due: eslint --fix, prettier --check --write

feat(db): add client-side supabase
  db/client.ts
Due: eslint --fix, prettier --check --write

feat(db): add server-side supabase client with cookies
  db/server.ts
Due: eslint --fix, prettier --check --write

feat(db): add supabase middleware
  middleware.ts
Due: eslint --fix, prettier --check --write

feat(db): add next.js middleware
  db/middleware.ts
Due: eslint --fix, prettier --check --write

feat(db): add auth callback with redirect
  app/auth/callback/route.ts
Due: eslint --fix, prettier --check --write

feat: add sign in page
  app/(public)/sign-in/page.tsx
Due: eslint --fix, prettier --check --write

feat: add sign up page
  app/(public)/sign-up/page.tsx
Due: eslint --fix, prettier --check --write

chore: add security.txt
  public/security.txt
Due: none

chore: add favicon images to public folder
  app/favicon.ico
  public/static/favicon/android-chrome-192x192.png
  public/static/favicon/android-chrome-512x512.png
  public/static/favicon/apple-touch-icon.png
  public/static/favicon/favicon-16x16.png
  public/static/favicon/favicon-32x32.png
  public/static/favicon/favicon.ico
  public/static/favicon/favicon.svg
  public/static/favicon/mstile-144x144.png
  public/static/favicon/mstile-150x150.png
  public/static/favicon/mstile-310x150.png
  public/static/favicon/mstile-310x310.png
  public/static/favicon/mstile-70x70.png
  public/static/favicon/safari-pinned-tab.svg
  public/static/og.png
Due: none

feat: add site manifest
  public/browserconfig.xml
  public/site.webmanifest
Due: none

feat: add metadata to base layout.tsx
  app/layout.tsx
Due: eslint --fix, prettier --check --write

feat: add metadata to page.tsx
  app/page.tsx
Due: eslint --fix, prettier --check --write

feat: add dynamic og image
  app/next-data/og/route.tsx
  next.constants.mjs
Due: eslint --fix, prettier --check --write

feat: add metadata to sign in page
  app/(public)/sign-in/page.tsx
Due: eslint --fix, prettier --check --write

chore: update twitter handle
  app/page.tsx
Due: eslint --fix, prettier --check --write

feat: add metadata to sign up page
  app/(public)/sign-in/page.tsx
  app/(public)/sign-up/page.tsx
Due: eslint --fix, prettier --check --write

feat: add robots file
  app/robots.ts
Due: eslint --fix, prettier --check --write

feat: add sitemap file
  app/sitemap.ts
Due: eslint --fix, prettier --check --write

feat: add next theme context
  context/theme.tsx
Due: eslint --fix, prettier --check --write

feat: add sidebar context
  context/sidebar.tsx
Due: eslint --fix, prettier --check --write

feat: add cookie context
  context/cookie.tsx
Due: eslint --fix, prettier --check --write

feat: add context provider barrel to layout
  app/layout.tsx
  context/index.tsx
Due: eslint --fix, prettier --check --write

feat(header): add a header component
  components/header/header.css
  components/header/index.tsx
  components/header/logo.tsx
  components/header/menu/index.tsx
  components/header/sidebar/index.tsx
  components/header/sidebar/nav/index.tsx
  components/header/sidebar/nav/logout.tsx
  components/header/sidebar/nav/privacy.tsx
  components/header/sidebar/nav/sidebarItem.tsx
  components/header/sidebar/topbar/index.tsx
  components/header/sidebar/topbar/searchBtn.tsx
  components/header/sidebar/util/backdrop.tsx
  components/header/sidebar/util/innerMenuButton.tsx
  components/header/sidebar/util/innerWrapper.tsx
  components/header/sidebar/util/menuButton.tsx
  components/header/sidebar/util/swipearea.tsx
  components/header/util/jumpToContent.tsx
  components/header/util/wrapper.tsx
  components/logo.tsx
Due: eslint --fix, prettier --check --write, stylelint --allow-empty-input, prettier --write

fix(env): add jiti build time validation
  next.config.mjs
Due: eslint --fix, prettier --check --write

fix(github): add env variables to build action
  .github/workflows/build.yml
Due: prettier --check --write

chore: test env variables in different location
  .github/workflows/build.yml
Due: prettier --check --write

chore: test with secrets for env
  .github/workflows/build.yml
Due: prettier --check --write

chore: test with cross-env
  .github/workflows/build.yml
Due: prettier --check --write

chore: add env to both local and global scope
  .github/workflows/build.yml
Due: prettier --check --write
